/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  background-image: var(--bg-gradient);
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;
}

.section-size {
  inline-size: var(--section-inline-size);
  margin: auto;
  border: solid 2px black;
}

.header {
  padding-block-start: clamp(122px, 19cqi, 130px);
  padding-block-end: clamp(122px, 19cqi, 130px);
  text-align: center;
  margin-block-end: 100px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.logo {
  font-family: var(--accent-font);
}

.header .logo {
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
}

.header__title {
  font-family: var(--accent-font);
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
}

.card__label {
  font-size: var(--main-font-size);
  font-weight: var(--heading-font-weight);
  line-height: 155%;
  padding: 0 10px;
}

.card__image {
  position: relative;
  inline-size: 100%;
}

.card__image img {
  display: block;
}

.card__image .logo {
  position: absolute;
  top: 25px;
  right: 25px;
  mix-blend-mode: hard-light;
  text-shadow: 1px var(--text-stroke-color);
  font-size: 14px;
}

@supports (-webkit-text-stroke: 1px var(--text-stroke-color)) {
  .card__image .logo {
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-shadow: none;
  }
}

.card__image img {
  inline-size: 100%;
}

.card__text-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 25px 20px;
}

.card__description {
  line-height: 116%;
}

.card__like-container {
  display: flex;
  justify-content: flex-end;
  gap: 7px;
}

.button {
  background-color: var(--bg-color);
  position: relative;
  border: 2px solid black;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--main-color);
}

.button::before {
  position: absolute;
  z-index: 0;
  content: '';
  background-color: var(--main-color);
  top: 0;
  left: 0;
  block-size: 100%;
  inline-size: 100%;
  transform: translate(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translate(0);
}

.button__text {
  position: relative;
  font-family: var(--accent-font);
  font-size: 14px;
  z-index: 1;
  color: var(--bg-color);
  mix-blend-mode: difference;
}

.card__icon-button {
  align-self: center;
  block-size: 38px;
  padding: 0;
  border: solid 2px transparent;
  background-color: transparent;
  outline: none;
  transition: outline 0.3s ease;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main-color);
}

.core {
  transition: fill 0.3s 0.03s linear;
}

.like-icon {
  transform-origin: center;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s 0s linear;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0s linear;
}

.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0s linear;
}

.is-liked:hover .core {
  fill: var(--animation-fill-color);
}

.main-body {
  transition: fill 0.3s 0s linear;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.is-liked:hover .main-body {
  fill: var(--animation-fill-color);
}

.contour {
  transition: fill 0.1s 0s linear;
}

.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s linear;
}

.sparks {
  opacity: 0;
}

.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s;
}

.is-liked .heart {
  animation: heart 0.3s ease-in 0.1s 1;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.preparing .card__image {
  filter: brightness(150%);
}

.work__it .card__image {
  filter: blur(0.3rem);
}

.make__it .card__image {
  filter: grayscale(80%);
}

.faster .card__image {
  filter: saturate(136%);
}

.better .card__image {
  filter: sepia(75%);
}

.stronger .card__image {
  filter: invert(75%);
}

.harder .card__image {
  filter: sepia(1) saturate(120%);
}

.right__now .card__image {
  filter: hue-rotate(-35deg);
}

.save-button {
  align-self: center;
  padding: 14px 18px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.floppy-icon {
  inline-size: 21px;
  color: var(--bg-color);
  mix-blend-mode: difference;
}

.save-dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  inline-size: clamp(341px, 336.77px + 1.13vw, 353px);
  font-family: var(--accent-font);
  font-size: 14px;
}

.save-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.save-dialog[open] .floppy-icon {
  inline-size: 39px;
}

.dialog__text-container {
  display: flex;
  gap: 12px;
}

.icon-container {
  align-self: center;
}

.dialog__text {
  text-transform: uppercase;
  line-height: 150%;
}

.ok-button {
  min-block-size: 38px;
}

@media (width <= 375px) {
  .save-button {
    flex-direction: column;
    justify-content: center;
  }

  .floppy-icon {
    inline-size: 28px;
  }

  .save-dialog[open] {
    padding: 30px 40px;
  }
}
